.sidebar {
    top: 0;
    left: 0%;
    position: fixed;
    width: 0vw;
    height: 100vh;
    background-color: white;
}

.sidebar_container {
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

